<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zdjęcie</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content">
            <div class="col">

                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Wróć</a>

                <div style="height: 98vh;">
                    <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}">

                    <p>{{photo.description}}</p>
                </div>

                
            </div>

        </div>
    </div>
    
</body>
</html>